<!-- Page top -->

<div class="bg-white">
  <div class="container p-3">
    <div class="row">
      <div class="col-md-8">
        <% if current_user == @plant.user  %>
          <h3> <%= @plant.name %> </h3>
          <div class="d-flex flex-row mb-3">
            <%= link_to edit_plant_path(@plant) do %>
            <i class="fa fa-pen pr-3"></i>
            <% end %>
            <button id="sweet-alert"><i class="fa fa-trash"></i></button>
            <%= link_to plant_path(@plant), method: :delete, id: "delete-link", class: "hidden" do %>
            <% end %>
          </div>
          <p class="lighter"> <%= @plant.description %> </p>
         <% else %>
        <h3> <%= @plant.name %> </h3>
        <p class="lighter"> <%= @plant.description %> </p>
        <% end %>
      </div>
      <div class="col-md-4">

         <% if @plant.photo.attached? %>
            <%= cl_image_tag @plant.photo.key, class: "w-100 rounded max-height" %>
          <% else %>
          <img class="w-100 rounded max-height" src="https://images.unsplash.com/photo-1470058869958-2a77ade41c02?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" />
          <% end %>

<!-- Map & Form -->

      </div>
    </div>
  </div>

</div>
<div class="container py-3">
  <div class="row">
      <div id="map"
          class="col-md-8 w-100 rounded"
          data-markers="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <div class="col-md-4">
      <div class="bg-white border p-3 sticky-top" data-controller="price">
        <div class="d-flex justify-content-between mt-3">
          <p>Prix / jour</p>
          <p><%= @plant.price_per_day %>€</p>
        </div>
        <div class="mt-3 mb-4">
          <%= simple_form_for([ @plant, @booking ], remote: true) do |f| %>
            <%= f.input :start_date,
              label: "Début",
              as: :string,
              required: true,
              input_html: {
                class: "datepicker",
                data: {
                  target: "price.start",
                  action: "input->price#calculateDays"
                }
              } %>
            <%= f.input :end_date,
              label: "Fin",
              as: :string,
              required: true,
              input_html: {
                class: "datepicker",
                  data: {
                  target: "price.end",
                  action: "input->price#calculateDays"
                }
              } %>
            <button id="sweet-alert2" class= "myButton checkout w-100">Je réserve !</button>
            <%= f.button :submit, class: "d-none", id: "booking-link"  %>
          <% end %>
        </div>
        <div class="d-flex justify-content-between pt-3 border-top">
          <p><span data-target="price.pricePerDay"><%= @plant.price_per_day %>€</span><span data-target="price.days"></span></p>
          <p><span data-target="price.total"></span></p>
        </div>
        <p class="ttc lighter">Tous nos prix s'entendent TTC</p>
      </div>
    </div>
  </div>
</div>

